@import ../app/sass/_mixins
@import ../app/sass/_variables

.isDay
  background: rgb(113,77,40)
  background: linear-gradient(0deg, rgba(113,77,40,1) 0%, rgba(0,212,255,1) 47%, #173cc4 86%)

.isNight
  background: rgb(40,101,113)
  background: linear-gradient(0deg, rgba(40,101,113,1) 5%, rgba(30,33,144,1) 43%, rgba(9,9,62,1) 77%)

h1
  @include h1

#main
  padding: $medium
/* From Uiverse.io by joe-watson-sbf

.search
  @include flex(row, center, center)
  padding: $low 0

.search__input
  font-family: inherit
  font-size: inherit
  background-color: #f4f2f2
  border: none
  color: #646464
  padding: 0.7rem 1rem
  border-radius: 30px
  width: 20rem
  transition: all ease-in-out .5s
  margin-right: -2rem

  &:hover
    box-shadow: 0 0 1em #00000013

  &:focus
    box-shadow: 0 0 1em #00000013
    outline: none
    background-color: #f0eeee

  &::-webkit-input-placeholder
    font-weight: 100
    color: #ccc

  &:focus + .search__button
    background-color: #f0eeee

.search__button
  border: none
  background-color: #f4f2f2
  margin-top: .1em

  &:hover
    cursor: pointer

.search__icon
  height: 1.3em
  width: 1.3em
  fill: #b4b4b4
