<!-- <h1>{{ datiDiTest }}</h1>

<p>{{ meteoTest | json }}</p> -->

<!-- <div class="card">
  <div class="container">
    <div class="cloud front">
      <span class="left-front"></span>
      <span class="right-front"></span>
    </div>
    <span class="sun sunshine"></span>
    <span class="sun"></span>
    <div class="cloud back">
      <span class="left-back"></span>
      <span class="right-back"></span>
    </div>
  </div>

  <div class="card-header">
    <p>Torino, Italia</p>
    <p></p>
  </div>

  <span class="temp">45° 45°</span>

  <div class="temp-scale">
    <p>80</p>
  </div>
</div> -->

<div id="main">
  <div class="location">
    <div>
      <p>Torino, Italia</p>
    </div>
    <div class="weatherIcon">
      <img src="../../assets/sunny.png" alt="" class="image" />
    </div>
  </div>
  <div class="temperature">
    <div><p class="grades">45° 45°</p></div>
    <div class="description">
      <p>Sunny</p>
    </div>
  </div>
</div>
